<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>267319964288-n6ioih5ag9mkqapq6dgd0v3ol07p7t0i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.267319964288-n6ioih5ag9mkqapq6dgd0v3ol07p7t0i</string>
	<key>API_KEY</key>
	<string>AIzaSyBUskbN92RW87AsSW440xOIEYGLFvWfFWw</string>
	<key>GCM_SENDER_ID</key>
	<string>267319964288</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.self.calenrad</string>
	<key>PROJECT_ID</key>
	<string>calenrad</string>
	<key>STORAGE_BUCKET</key>
	<string>calenrad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:267319964288:ios:9faadd8281cb1d14</string>
	<key>DATABASE_URL</key>
	<string>https://calenrad.firebaseio.com</string>
</dict>
</plist>